@use './media-queries.scss' as *;

.light-green {
  background-color: #8ad8c0;

  @include media-tablet {
    width: calc(33.33% - 10px);
  }
}

.green {
  background-color: #c6f459;

  @include media-tablet {
    width: calc(66.66% - 10px);
  }
}

.pink {
  background-color: #f39a8e;

  @include media-tablet {
    width: calc(50% - 10px);
  }
}

.light-blue {
  background-color: #85cbda;

  @include media-tablet {
    width: calc(50% - 10px);
  }
}

.light-purple {
  background-color: #9cb7eb;

  @include media-tablet {
    width: calc(58.333% - 10px);
  }
}

.purple {
  background-color: #b295ce;

  @include media-tablet {
    width: calc(41.667% - 10px);
  }
}

.title-xl {
  text-wrap: balance;
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  display: inline-flex;
  align-self: center;
  max-width: 70rem;
  margin: 0;

  @include media-tablet {
    font-size: 6rem;
    line-height: 6.5rem;
  }
}

header {
  display: flex;
  flex-direction: column;
  padding-top: 2.5rem;
  gap: 2.5rem;

  @include media-tablet {
    gap: 5rem;
  }

  .logo {
    font-size: 1rem;
    line-height: 1.3;
    text-align: center;
    font-weight: 700;

    @include media-tablet {
      font-size: 1.5rem;
      line-height: 1.3;
    }
  }

  .subtitle {
    display: flex;
    justify-content: end;
    font-size: 1rem;
    padding-left: 3rem;

    @include media-tablet {
      font-size: 1.5rem;
      padding-left: 0;
      padding-right: 8rem;
    }

    p {
      max-width: 43rem;
    }
  }
}

footer {
  display: flex;
  font-size: 0.85rem;
  padding-bottom: 2rem;
  flex-direction: column-reverse;
  gap: 1.5rem;

  @include media-tablet {
    font-size: 1.12rem;
    justify-content: space-between;
    flex-direction: row;
    gap: 0;
  }
}

main {
  margin-bottom: 14rem;
}

.container {
  padding-inline: 1.5rem;
  margin-inline: auto;
  max-width: 1508px;

  @include media-tablet {
    padding-inline: 5rem;
  }
}

.hero {
  border-radius: 1.3rem;
  margin: 0;
  margin-top: 5rem;
  overflow: hidden;
  margin-bottom: 7rem;

  @include media-tablet {
    margin-bottom: 13rem;
  }

  img {
    display: block;
    width: 100%;
  }
}

.description-wrapper {
  margin-bottom: 6rem;

  @include media-tablet {
    margin-bottom: 13rem;
  }

  .subtitle-wrapper {
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    margin-bottom: 7rem;

    @include media-tablet {
      padding-right: 10rem;
      margin-bottom: 7rem;
    }
  }

  h2 {
    width: 15rem;

    @include media-tablet {
      width: 40rem;
    }
  }
}

.description-wrapper .description,
.where-to-find-me {
  display: flex;
  justify-content: end;
  text-wrap: stable;
  margin-inline: auto;
  max-width: 1125px;
  padding-left: 2rem;

  @include media-tablet {
    padding-right: 4rem;
    padding-left: 0;
  }

  > div {
    @include media-tablet {
      width: 41rem;
    }
  }

  p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.4;

    &:not(:last-child) {
      margin-bottom: 1.8rem;
    }

    @include media-tablet {
      font-size: 1.5rem;
    }
  }
}

.signature-logo {
  margin: 0;
  max-width: 14rem;

  img {
    width: 100%;
    height: auto;
  }
}

.expectations-wrapper {
  margin-bottom: 13rem;

  h2 {
    margin-bottom: 4rem;

    @include media-tablet {
      margin-inline: 5rem;
      margin-bottom: 6rem;
    }
  }
}

.expectations-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 13rem;
  gap: 1.25rem;

  @include media-tablet {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .expectation-item {
    display: flex;
    min-height: 350px;
    border-radius: 0.75rem;
    gap: 1.75rem;
    flex-direction: column;
    padding: 3rem;

    @include media-tablet {
      min-height: 500px;
    }

    span {
      font-size: 1rem;
      font-weight: 700;

      @include media-tablet {
        font-size: 1.5rem;
      }
    }

    h3 {
      font-size: 1.5rem;
      margin: 0;
      font-weight: 600;
      letter-spacing: -0.02em;

      @include media-tablet {
        font-size: 3rem;
      }
    }
  }
}

.socials {
  display: flex;
  gap: 2rem;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
