$font-family: 'Inter', sans-serif;
$white: #ffffff;

*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #{$white};
  font-family: #{$font-family};
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #000000;
  text-decoration: underline;
}
