.container {
  max-width: 1125px;
  position: relative;
  aspect-ratio: 16 / 9;
  border-radius: 1.3rem;
  overflow: hidden;
  margin-inline: auto;
  margin-bottom: 7rem;
  box-shadow:
    0 0 #0000,
    0 0 #0000,
    0px 70px 150px 0px rgba(0, 0, 0, 0.06);

  iframe {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
